# Dependencies
node_modules
/target

# Build outputs
/dist
/build

# Environment variables
.env
.env.local

# IDE files
.vscode
.idea

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db